{% extends "base.html" %}

{% block content %}

    <!--About Us-->

    <div>
      <center>
      <h1>
        About Us..
      </h1>
      
      <p>
              WEDO was developed for the citizens who have information regarding a crime but
              fear reprisal<br> from the criminal they are turning in. WEDO is a<br> tool for those
              that may not want to contact law enforcement directly, but nevertheless want 
              their information heard and taken seriously.WEDO is<br> able to provide anyone
              with information a safe <br>and comfortable place to report any instance of<br> crime 
              or injustice that may occur, knowing that<br> their report will be taken seriously
              and passed<br>on to the correct authorities.  
      </p>
    </center>
    </div>
 
  {% endblock %}